* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #fff;
  color: #000;
  font-size: 15px;
  line-height: 1.5;
}

a {
  color: #262626;
  text-decoration: none;
}

/* take out the bullets */
ul {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

/* Nav Bar  */
.logo {
  width: 110px;
}

.main-nav {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 20px 0;
  font-size: 13px;
}

.main-nav ul {
  display: flex;
}

.main-nav ul.main-menu {
  flex: 1;
  margin-left: 20px;
}

.main-nav ul li {
  padding: 0 10px;
}

 /* li:hover {
  text-decoration: underline;
} */

.main-nav ul li a {
  padding-bottom: 2px;
}
.main-nav ul li a:hover {
  border-bottom: 2px solid #262626;
}

.btn {
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background: #262626;
  color: #fff;
  font-size: 15px;
}

.btn:hover {
  opacity: 0.7;
}
