* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #fff;
  color: #000;
  font-size: 15px;
  line-height: 1.5;
}

a {
  color: #262626;
  text-decoration: none;
}

/* take out the bullets */
ul {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

.dark-reverse {
  color: #fff;
}

.dark-reverse .btn {
  background: #f4f4f4;
  color: #333;
}

/* Nav Bar  */
.logo {
  width: 110px;
}

.main-nav {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 20px 0;
  font-size: 13px;
}

.main-nav ul {
  display: flex;
}

.main-nav ul.main-menu {
  flex: 1;
  margin-left: 20px;
}

.main-nav ul li {
  padding: 0 10px;
}

 /* li:hover {
  text-decoration: underline;
} */

.main-nav ul li a {
  padding-bottom: 2px;
}
.main-nav ul li a:hover {
  border-bottom: 2px solid #262626;
}

.btn {
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background: #262626;
  color: #fff;
  font-size: 15px;
}

.btn:hover {
  opacity: 0.7;
}

/* showcase  */

.showcase {
  width: 100%;
  height: 400px;
  background: url("../img/slide1.png") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  padding-bottom: 50px;
  margin-bottom: 20px;
}

.showcase h2, .showcase p {
  margin-bottom: 10px;
}

.showcase .btn {
  margin-top: 20px;
}

/* home cards  */
.home-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  justify-content: center;
  margin-bottom: 40px;
  /* align-items: center; */
}

.home-cards img {
  width: 100%;
  /* height: 100%; */
  margin-bottom: 20px
}

.home-cards h3 {
  margin-bottom: 5px;
}

.home-cards a {
  font-weight: bold;
  margin-top: 10px;
  color: #0067b8;
  display: inline-block;
  text-transform: uppercase;
}

.home-cards a:hover i {
  margin-left: 15px;
}

/* xbox  */
.xbox {
  width: 100%;
  height: 350px;
  background: url("../img/xbox.png") no-repeat center center/cover;
  /* display: flex;
  flex-direction: column;
  align-items:baseline;
  text-align: left;
  justify-content: center; */
  margin-bottom: 20px;
  /* padding-bottom: 50px; */
}
.xbox-content {
  width: 40%;
  padding: 50px 0 0 30px;
}
.xbox p, .carbon p {
  margin: 10px 0 20px;
}

/* carbon  */
.carbon {
  width: 100%;
  height: 350px;
  background: url("../img/carbon.jpg") no-repeat center center/cover;
}

.carbon-content {
  width: 55%;
  padding: 100px 0 0 30px;
}

/* follow */
.follow {
  display: flex;
  /* flex-direction: row; */
  margin: 20px 0 0 20px;
  align-items: center;
  justify-content: flex-start;
}

.follow * {
  margin-right: 10px;
}

/* links */
.links {
  background: #f2f2f2;
  color: #616161;
  font-size: 12px;
  padding 20px 0;
}

.links-inner {
  max-width: 1100px;
  padding: 0 20px 0 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  align-items: center;
  justify-content: center;
}

.links-inner ul li {
  /* margin: 5px 0; */
  line-height: 2.8;
}

/* footer */

.footer {
  background: #f2f2f2;
  color: #616161;
  font-size:12px;
  padding: 20px 0;
}

.footer-inner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer ul {
  display: flex;
  flex-wrap: wrap;
}

.footer li {
  margin-right: 10px;
  margin-bottom: 20px;
}

.footer div i {
  margin-right: 10px;
}

.footer div {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

/* media query  */

@media (max-width: 700px) {
  .home-cards {
  grid-template-columns: repeat(2, 1fr);
  }
  .xbox-content p {
    display: none;
  }
  .xbox-content h2 {
    margin-bottom: 20px;
  }
  .carbon-content {
    width: 85%;
  }
  .links-inner {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 500px) {
  .home-cards {
  grid-template-columns: 1fr;
  }
  .links-inner {
    grid-template-columns: 1fr;
  }
  .links-inner ul {
    margin-bottom: 20px;
  }
}
